@font-face {
	font-fmaily: Archivo;
	src: url(../fonts/body/ArchivoNarrow-Regular.ttf);	
}

body {
	font-family: Archivo;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
