@charset "utf-8";
/* CSS Document */

/*
-------------------
	Font styles - CSS Styles
	
1 - Title Font
2 - Navigation Font
3 - Main Font
4 - Body Font
-------------------	
*/

@font-face {
	font-family: Amatic-SC;	
	src: url(../fonts/title/AmaticSC-Bold.ttf);
}

@font-face {
	font-family: Chivo;	
	src: url(../fonts/body/Chivo-Regular.ttf)
}

@font-face {
	font-family: Rajdhani;
	src: url(../fonts/navigation/Rajdhani-Regular.ttf);
}

@font-face {
	font-fmaily: Archivo;
	src: url(../fonts/body/ArchivoNarrow-Regular.ttf);	
}