@charset "utf-8";
/* CSS Document */


/*
-------------------
	Font styles
	
- Title Font
- Navigation Font
- Body Font
-------------------	
*/

@font-face {
	font-family: Amatic-SC;	
	src: url(../fonts/title/AmaticSC-Bold.ttf);
}

@font-face {
	font-family: Rajdhani;
	src: url(../fonts/navigation/Rajdhani-Regular.ttf);
}

@font-face {
	font-fmaily: Archivo;
	src: url(../fonts/body/ArchivoNarrow-Regular.ttf);	
}

/*
-----------------------------------------
	Mainily used duplicate CSS styles
-----------------------------------------	
*/

.bodyFont {
	font-family: Archivo;
	font-weight: normal;
	font-size: 15px;
}

/*
----------------------------------
	Main CSS styles start here
----------------------------------	
*/

html {
	background: url(../images/backgrounds/main-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

h1#headingTitle {
	display: inline block;
	padding-left: 5%;
	font-family: Amatic-SC;
   	font-weight: normal;
   	font-size: 80px;
    color: #585B5B;
    text-align: left;
    text-decoration: underline;
}

.mainContainer {
    float:inherit;
}

.bodyContainer {	
	height: auto;
	padding-bottom: 10px;
    margin:0 auto;
    width:1000px;
    align-content: center;
}

.headContainer {
	position: relative;
	height: auto;	
	border-bottom-style: groove;	
}

#map {
    width: 100%; 
    height: 400px;
}






























