@charset "utf-8";
/* CSS Document */

#aboutSplitContainer {
    width:inherit;
	height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#aboutLeftContent {
    float:left;
	left: 0;
	height: 100%;
    width:50%;
	background-color: transparent;
}

#aboutRightContent {
	text-align: center;
    float:right;
	right: 0;
    width:50%;
	height: 100%;
	background-color: #EAEAEA;
}