html {
  background-color: #c7af94;
  font-size: 100%;
  font-size: 16px;
}

body {
  padding: 3rem;
  font-family: "Raleway", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.875rem;
}

h2 {
  margin: 3.5rem 0 0.875rem;
}
h2:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 12px;
  }
}