@charset "utf-8";
/* CSS Document */

html, body
{
    margin: 0;
    padding: 0;
}




.navigationHead {
	left: 0;
	height: 100px;
	background-color: #353635;
}


.menuIconNavigation {	
	color: #ffffff;
}
