@charset "utf-8";
/* CSS Document */

html, body
{
    margin: 0;
    padding: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #F5F5F5;	
}

.navigationHead {
	left: 0;
	height: 65px;
	background-color: #353635;
}

.menuIconNavigation {	
	color: #ffffff;
}

 .contentContainer {
	padding-top: 70px;	
	height: 100%;
	padding-bottom: 180px;
    margin: 0 auto;
	background-color: #F5F5F5;
    align-content: center;
	max-width: 1500px;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

